/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: auto;
  }
  #Home {background-color: chocolate;}
  #News {background-color: black;}
  #Contact {background-color: chocolate;}
  #About {background-color: black;}

 .AFIM{
   height: auto;
   width: auto;
   background-color: burlywood;
   color: black;
   border:10px solid blanchedalmond;
   margin-right: 2cm;
   margin-left:2cm;
 }
 th,td{
   border: 2px solid black;
   align-items: center;
 }

 body{
   background-image: url('bg.jfif');
 }
 .a1{
  background-color: white;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
 }
 .a1:hover{
  background-color: red;
  color: cornsilk;
  border: none;
  box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
}